@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --elliot-red: #FF2E63;
  --elliot-blue: #08D9D6;
  --el-darker-blue: #0f7d7b80;
  --el-darker-red: #8e113080;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-elliot-red:var(--elliot-red);
  --color-elliot-blue:var(--elliot-blue);
  --color-darker-blue:var(--el-darker-blue);
  --color-darker-red:var(--el-darker-red);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
